# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*build*
Examples/*/*build*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac related files
*.DS_Store

# VSC related files
.vscode

# Spack related files
spack-configure-args.txt
__pycache__
